# Accidents in North American Mountineering
Analysis and visual summary of accident data collected in [Accidents in North American Mountaineering](https://www.americanalpineclub.org/p/anam) (ANAM) from 1951 to 2014. ANAM is published annualy by the [American Alpine Club](https://www.americanalpineclub.org/). The data is included here in three Excel spreadsheets. Have fun and come up with your own analysis!

Code and data obtained from [Michael Skaug's github page](https://github.com/mikeskaug/ANAM_Vis)

### Dependencies:
Dependencies defined in conda's environment.yml

In [1]:
import pandas as pd
import numpy as np

In [2]:
exfile = pd.ExcelFile('ANAM_1951-2014_byregion.xlsx')
df = exfile.parse('Sheet1', header=[3, 4], na_values='n/a')

In [3]:
mi = df.columns
df.head()

                                 1951–2013                                \
Geographical Districts Number of Accidents Deaths Total Persons Involved
Canada*
Alberta                              539.0  145.0                 1063.0
British Columbia                     321.0  122.0                  658.0
Yukon Territory                       38.0   28.0                   79.0
New Brunswick                          1.0    0.0                    0.0
Ontario                               38.0    9.0                   68.0

                                      2014
Geographical Districts Number of Accidents Deaths Total Persons Involved
Canada*
Alberta                                6.0    0.0                   10.0
British Columbia                       3.0    1.0                    5.0
Yukon Territory                        1.0    0.0                    4.0
New Brunswick                          NaN    NaN                    NaN
Ontario                                1.0    0.0                    1.0

In [4]:
exfile = pd.ExcelFile('ANAM_1951-2014_bytype.xlsx')
df_type = exfile.parse('Sheet1')

In [5]:
df_type.drop('Terrain', inplace=True)

In [6]:
ix = (df.index == 'United States').argmax()
new_idx = [('Canada', i.strip()) for i in df.index[:ix] if i is not np.nan]
new_idx.extend([('US', i.strip()) for i in df.index[ix:] if i != 'United States'])
new_idx

[('Canada', 'Alberta'),
 ('Canada', 'British Columbia'),
 ('Canada', 'Yukon Territory'),
 ('Canada', 'New Brunswick'),
 ('Canada', 'Ontario'),
 ('Canada', 'Quebec'),
 ('Canada', 'East Arctic'),
 ('Canada', 'West Arctic'),
 ('Canada', 'Practice Cliffs1'),
 ('US', 'Alaska'),
 ('US', 'Arizona, Nevada, Texas'),
 ('US', 'Atlantic–North'),
 ('US', 'Atlantic–South'),
 ('US', 'California'),
 ('US', 'Central'),
 ('US', 'Colorado'),
 ('US', 'Montana, Idaho, South Dakota'),
 ('US', 'Oregon'),
 ('US', 'Utah, New Mex.'),
 ('US', 'Washington'),
 ('US', 'Wyoming')]

In [7]:
df2 = df.drop(['United States', np.NaN])
df2.index.name = None

In [8]:
#df2.drop('Canada*')
df2.head()

                                 1951–2013                                \
Geographical Districts Number of Accidents Deaths Total Persons Involved
Alberta                              539.0  145.0                 1063.0
British Columbia                     321.0  122.0                  658.0
Yukon Territory                       38.0   28.0                   79.0
New Brunswick                          1.0    0.0                    0.0
Ontario                               38.0    9.0                   68.0

                                      2014
Geographical Districts Number of Accidents Deaths Total Persons Involved
Alberta                                6.0    0.0                   10.0
British Columbia                       3.0    1.0                    5.0
Yukon Territory                        1.0    0.0                    4.0
New Brunswick                          NaN    NaN                    NaN
Ontario                                1.0    0.0                    1.0

In [9]:
#df2.columns.names = ['year', 'data']
df2.columns.names = [None, None]
df2.head()

                           1951–2013                                \
                 Number of Accidents Deaths Total Persons Involved
Alberta                        539.0  145.0                 1063.0
British Columbia               321.0  122.0                  658.0
Yukon Territory                 38.0   28.0                   79.0
New Brunswick                    1.0    0.0                    0.0
Ontario                         38.0    9.0                   68.0

                                2014
                 Number of Accidents Deaths Total Persons Involved
Alberta                          6.0    0.0                   10.0
British Columbia                 3.0    1.0                    5.0
Yukon Territory                  1.0    0.0                    4.0
New Brunswick                    NaN    NaN                    NaN
Ontario                          1.0    0.0                    1.0

In [10]:
#ix = pd.MultiIndex.from_tuples(new_idx, names=['country', 'region'])
ix = pd.MultiIndex.from_tuples(new_idx)
ix

MultiIndex(levels=[['Canada', 'US'], ['Alaska', 'Alberta', 'Arizona, Nevada, Texas', 'Atlantic–North', 'Atlantic–South', 'British Columbia', 'California', 'Central', 'Colorado', 'East Arctic', 'Montana, Idaho, South Dakota', 'New Brunswick', 'Ontario', 'Oregon', 'Practice Cliffs1', 'Quebec', 'Utah, New Mex.', 'Washington', 'West Arctic', 'Wyoming', 'Yukon Territory']],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 5, 20, 11, 12, 15, 9, 18, 14, 0, 2, 3, 4, 6, 7, 8, 10, 13, 16, 17, 19]])

In [11]:
df2.index = ix
df2.head()

                                  1951–2013                                \
                        Number of Accidents Deaths Total Persons Involved
Canada Alberta                        539.0  145.0                 1063.0
       British Columbia               321.0  122.0                  658.0
       Yukon Territory                 38.0   28.0                   79.0
       New Brunswick                    1.0    0.0                    0.0
       Ontario                         38.0    9.0                   68.0

                                       2014
                        Number of Accidents Deaths Total Persons Involved
Canada Alberta                          6.0    0.0                   10.0
       British Columbia                 3.0    1.0                    5.0
       Yukon Territory                  1.0    0.0                    4.0
       New Brunswick                    NaN    NaN                    NaN
       Ontario                          1.0    0.0                    1.0

In [12]:
df2.index
df2.columns

MultiIndex(levels=[[2014, '1951–2013'], ['Deaths', 'Number of Accidents', 'Total Persons Involved']],
           labels=[[1, 1, 1, 0, 0, 0], [1, 0, 2, 1, 0, 2]])

In [13]:
df2.loc['Canada']

                           1951–2013                                \
                 Number of Accidents Deaths Total Persons Involved
Alberta                        539.0  145.0                 1063.0
British Columbia               321.0  122.0                  658.0
Yukon Territory                 38.0   28.0                   79.0
New Brunswick                    1.0    0.0                    0.0
Ontario                         38.0    9.0                   68.0
Quebec                          31.0   10.0                   63.0
East Arctic                      8.0    2.0                   21.0
West Arctic                      2.0    2.0                    2.0
Practice Cliffs1                20.0    2.0                   36.0

                                2014
                 Number of Accidents Deaths Total Persons Involved
Alberta                          6.0    0.0                   10.0
British Columbia                 3.0    1.0                    5.0
Yukon Territory                  1.0    0.0                    4.0
New Brunswick                    NaN    NaN                    NaN
Ontario                          1.0    0.0                    1.0
Quebec                           NaN    NaN                    NaN
East Arctic                      NaN    NaN                    NaN
West Arctic                      NaN    NaN                    NaN
Practice Cliffs1                 NaN    NaN                    NaN

In [14]:
#df2.iloc[0]
df2.loc['Canada', 'Alberta']

1951–2013  Number of Accidents        539.0
           Deaths                     145.0
           Total Persons Involved    1063.0
2014       Number of Accidents          6.0
           Deaths                       0.0
           Total Persons Involved      10.0
Name: (Canada, Alberta), dtype: float64

In [15]:
idx = pd.IndexSlice
df2.loc[idx['Canada', :]]

                           1951–2013                                \
                 Number of Accidents Deaths Total Persons Involved
Alberta                        539.0  145.0                 1063.0
British Columbia               321.0  122.0                  658.0
Yukon Territory                 38.0   28.0                   79.0
New Brunswick                    1.0    0.0                    0.0
Ontario                         38.0    9.0                   68.0
Quebec                          31.0   10.0                   63.0
East Arctic                      8.0    2.0                   21.0
West Arctic                      2.0    2.0                    2.0
Practice Cliffs1                20.0    2.0                   36.0

                                2014
                 Number of Accidents Deaths Total Persons Involved
Alberta                          6.0    0.0                   10.0
British Columbia                 3.0    1.0                    5.0
Yukon Territory                  1.0    0.0                    4.0
New Brunswick                    NaN    NaN                    NaN
Ontario                          1.0    0.0                    1.0
Quebec                           NaN    NaN                    NaN
East Arctic                      NaN    NaN                    NaN
West Arctic                      NaN    NaN                    NaN
Practice Cliffs1                 NaN    NaN                    NaN

In [ ]:
# tried the following and it didn't work
#df2['Canada']['1951-2013']
#df2[('Canada',), '1951-2013']
#df2['Canada', '1951-2013']


# Tried using pd.IndexSlice - how do I access this multi index?
#idx = pd.IndexSlice
#df2.loc[idx['Canada'], idx[:, :, ['2014']]]

In [16]:
df2.head()

                                  1951–2013                                \
                        Number of Accidents Deaths Total Persons Involved
Canada Alberta                        539.0  145.0                 1063.0
       British Columbia               321.0  122.0                  658.0
       Yukon Territory                 38.0   28.0                   79.0
       New Brunswick                    1.0    0.0                    0.0
       Ontario                         38.0    9.0                   68.0

                                       2014
                        Number of Accidents Deaths Total Persons Involved
Canada Alberta                          6.0    0.0                   10.0
       British Columbia                 3.0    1.0                    5.0
       Yukon Territory                  1.0    0.0                    4.0
       New Brunswick                    NaN    NaN                    NaN
       Ontario                          1.0    0.0                    1.0

# Crosssection

http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.xs.html

In [17]:
df2.xs('Canada', level=0, axis='index')

                           1951–2013                                \
                 Number of Accidents Deaths Total Persons Involved
Alberta                        539.0  145.0                 1063.0
British Columbia               321.0  122.0                  658.0
Yukon Territory                 38.0   28.0                   79.0
New Brunswick                    1.0    0.0                    0.0
Ontario                         38.0    9.0                   68.0
Quebec                          31.0   10.0                   63.0
East Arctic                      8.0    2.0                   21.0
West Arctic                      2.0    2.0                    2.0
Practice Cliffs1                20.0    2.0                   36.0

                                2014
                 Number of Accidents Deaths Total Persons Involved
Alberta                          6.0    0.0                   10.0
British Columbia                 3.0    1.0                    5.0
Yukon Territory                  1.0    0.0                    4.0
New Brunswick                    NaN    NaN                    NaN
Ontario                          1.0    0.0                    1.0
Quebec                           NaN    NaN                    NaN
East Arctic                      NaN    NaN                    NaN
West Arctic                      NaN    NaN                    NaN
Practice Cliffs1                 NaN    NaN                    NaN

In [18]:
df2.xs('US', level=0, axis='index')

                                       1951–2013         \
                             Number of Accidents Deaths
Alaska                                     589.0  216.0
Arizona, Nevada, Texas                     115.0   20.0
Atlantic–North                            1113.0  154.0
Atlantic–South                             204.0   41.0
California                                1460.0  310.0
Central                                    138.0   18.0
Colorado                                   916.0  239.0
Montana, Idaho, South Dakota                94.0   38.0
Oregon                                     239.0  123.0
Utah, New Mex.                             198.0   65.0
Washington                                2017.0  328.0
Wyoming                                    615.0  149.0

                                                                   2014  \
                             Total Persons Involved Number of Accidents
Alaska                                        965.0                 8.0
Arizona, Nevada, Texas                        204.0                 2.0
Atlantic–North                               1893.0                 6.0
Atlantic–South                                349.0                12.0
California                                    797.0                34.0
Central                                       226.0                 1.0
Colorado                                     2563.0                18.0
Montana, Idaho, South Dakota                  150.0                 4.0
Oregon                                        520.0                 6.0
Utah, New Mex.                                355.0                 8.0
Washington                                   1066.0                 8.0
Wyoming                                      1132.0                 5.0


                             Deaths Total Persons Involved
Alaska                          1.0                   17.0
Arizona, Nevada, Texas          3.0                    5.0
Atlantic–North                  2.0                    6.0
Atlantic–South                  1.0                   16.0
California                      5.0                   53.0
Central                         0.0                    1.0
Colorado                        1.0                   24.0
Montana, Idaho, South Dakota    2.0                    5.0
Oregon                          2.0                    9.0
Utah, New Mex.                  2.0                   12.0
Washington                      8.0                   15.0
Wyoming                         1.0                    7.0

In [20]:
# 2014 is an integer
df2.xs(2014, level=0, axis='columns')

                                     Number of Accidents  Deaths  \
Canada Alberta                                       6.0     0.0
       British Columbia                              3.0     1.0
       Yukon Territory                               1.0     0.0
       New Brunswick                                 NaN     NaN
       Ontario                                       1.0     0.0
       Quebec                                        NaN     NaN
       East Arctic                                   NaN     NaN
       West Arctic                                   NaN     NaN
       Practice Cliffs1                              NaN     NaN
US     Alaska                                        8.0     1.0
       Arizona, Nevada, Texas                        2.0     3.0
       Atlantic–North                                6.0     2.0
       Atlantic–South                               12.0     1.0
       California                                   34.0     5.0
       Central                                       1.0     0.0
       Colorado                                     18.0     1.0
       Montana, Idaho, South Dakota                  4.0     2.0
       Oregon                                        6.0     2.0
       Utah, New Mex.                                8.0     2.0
       Washington                                    8.0     8.0
       Wyoming                                       5.0     1.0

                                     Total Persons Involved
Canada Alberta                                         10.0
       British Columbia                                 5.0
       Yukon Territory                                  4.0
       New Brunswick                                    NaN
       Ontario                                          1.0
       Quebec                                           NaN
       East Arctic                                      NaN
       West Arctic                                      NaN
       Practice Cliffs1                                 NaN
US     Alaska                                          17.0
       Arizona, Nevada, Texas                           5.0
       Atlantic–North                                   6.0
       Atlantic–South                                  16.0
       California                                      53.0
       Central                                          1.0
       Colorado                                        24.0
       Montana, Idaho, South Dakota                     5.0
       Oregon                                           9.0
       Utah, New Mex.                                  12.0
       Washington                                      15.0
       Wyoming                                          7.0

In [23]:
# '1951–2013' is a string
# note the long-dash  –
#  not the minus sign -

df2.xs('1951–2013', level=0, axis='columns')

                                     Number of Accidents  Deaths  \
Canada Alberta                                     539.0   145.0
       British Columbia                            321.0   122.0
       Yukon Territory                              38.0    28.0
       New Brunswick                                 1.0     0.0
       Ontario                                      38.0     9.0
       Quebec                                       31.0    10.0
       East Arctic                                   8.0     2.0
       West Arctic                                   2.0     2.0
       Practice Cliffs1                             20.0     2.0
US     Alaska                                      589.0   216.0
       Arizona, Nevada, Texas                      115.0    20.0
       Atlantic–North                             1113.0   154.0
       Atlantic–South                              204.0    41.0
       California                                 1460.0   310.0
       Central                                     138.0    18.0
       Colorado                                    916.0   239.0
       Montana, Idaho, South Dakota                 94.0    38.0
       Oregon                                      239.0   123.0
       Utah, New Mex.                              198.0    65.0
       Washington                                 2017.0   328.0
       Wyoming                                     615.0   149.0

                                     Total Persons Involved
Canada Alberta                                       1063.0
       British Columbia                               658.0
       Yukon Territory                                 79.0
       New Brunswick                                    0.0
       Ontario                                         68.0
       Quebec                                          63.0
       East Arctic                                     21.0
       West Arctic                                      2.0
       Practice Cliffs1                                36.0
US     Alaska                                         965.0
       Arizona, Nevada, Texas                         204.0
       Atlantic–North                                1893.0
       Atlantic–South                                 349.0
       California                                     797.0
       Central                                        226.0
       Colorado                                      2563.0
       Montana, Idaho, South Dakota                   150.0
       Oregon                                         520.0
       Utah, New Mex.                                 355.0
       Washington                                    1066.0
       Wyoming                                       1132.0

In [26]:
df2.xs('Canada',level=0,axis='index').xs('1951–2013',level=0,axis='columns')

                  Number of Accidents  Deaths  Total Persons Involved
Alberta                         539.0   145.0                  1063.0
British Columbia                321.0   122.0                   658.0
Yukon Territory                  38.0    28.0                    79.0
New Brunswick                     1.0     0.0                     0.0
Ontario                          38.0     9.0                    68.0
Quebec                           31.0    10.0                    63.0
East Arctic                       8.0     2.0                    21.0
West Arctic                       2.0     2.0                     2.0
Practice Cliffs1                 20.0     2.0                    36.0